.imagezoom {
	overflow: hidden;
	width: 300px;
}

.imagezoom img {
	max-width: 100%;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.imagezoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}